<div class="container">

<h1 class="title is-1"> About me </h1>

<br>

<br>


<p class="subtitle is-5"> Hi ! i'm Surya . Im passionate about building web apps with rails . </p>

<br>

<p class="subtitle is-5"> Get in touch : suryapjr@gmail.com </p>




</div>