<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "Todo on Rails", root_path, class:"navbar-item" %>
      
    </a>


  <div id="navbarBasicExample" >
    <div class="navbar-start">
      <%=link_to "About me" , about_path  , class:"navbar-item" %>

      <%= link_to "New todo" , new_todo_path , class: "navbar-item" %>

      </div>
    </div>

    </div>
</nav>